[submodule "src/android/fdroid"]
	path = src/android/fdroid
	url = https://gitlab.com/ahmet-cetinkaya/fdroid-data.git
	branch = master
[submodule "src/lib/corePackages/acore"]
	path = src/lib/corePackages/acore
	url = https://github.com/ahmet-cetinkaya/acore-flutter.git
	branch = main
[submodule "packages/acore-flutter"]
	path = packages/acore-flutter
	url = https://github.com/ahmet-cetinkaya/acore-flutter.git
[submodule "packages/acore-scripts"]
	path = packages/acore-scripts
	url = https://github.com/ahmet-cetinkaya/acore-scripts
