# Project root level ignores
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# AI Agent files
.ai/
.claude/
.gemini/
.opencode/
.qwen/
.specify/
*AGENTS.md
*CLAUDE.md
*GEMINI.md
*QWEN.md
openspec/
.serena/

# FVM Version Cache
.fvm/

# Other
*.log
.temp/
core.[0-9]*

# Coverage reports
src/coverage/
