name: Flutter CI - Linux

on:
  workflow_dispatch: # This is a trigger for manual workflow run
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Initialize Submodules
        uses: ./.github/actions/setup-repository

      - name: Setup Flutter with FVM
        uses: ./.github/actions/setup-fvm
        with:
          cache-key-suffix: "linux"

      - name: Install Flutter Dependencies
        uses: ./.github/actions/install-flutter-deps

      - name: Install RPS and generate code
        run: |
          fvm dart pub global activate rps
          rps gen

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install -y cmake ninja-build build-essential clang pkg-config libgtk-3-dev liblzma-dev
          sudo apt-get install -y libunwind-dev
          sudo apt-get install -y libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
          sudo apt-get install -y libnotify-dev
          sudo apt-get install -y libayatana-appindicator3-dev
        env:
          CXX: clang++

      # Build for Linux
      - name: Build for Linux
        run: |
          cd src
          fvm flutter build linux --release

      # Publish the build artifacts
      - name: Get application version
        id: app_version
        uses: ./.github/actions/get-app-version

      - name: Upload Linux build artifact
        uses: ./.github/actions/upload-build-artifact
        with:
          artifact-name: linux
          artifact-path: src/build/linux/x64/release/bundle/
          app-version: ${{ steps.app_version.outputs.version }}
